:root {
    --nav-height: 70px;
    --text-color: #fbfbfb;
    --accent-color: #00d4ff;
    --glass-bg: rgba(0, 0, 0, 0.5); /* Plus sombre pour mieux voir le texte */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Verdana', sans-serif;
    color: var(--text-color);
    background: url('/images/_24A8363.JPG') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --- NAVIGATION --- */
#nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: var(--glass-bg);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-container {
    display: flex;
    justify-content: center; /* Centre les liens car pas de logo */
    align-items: center;
    height: var(--nav-height);
    gap: 2rem;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-link:hover, .nav-link.active {
    color: var(--accent-color);
}

/* --- HERO & GRID --- */
.hero-header {
    flex: 1; /* Pousse le footer vers le bas */
    padding-top: calc(var(--nav-height) + 4rem);
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-tagline{
    margin-left: 19px
}

.hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.preview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1100px;
    margin-top: 3rem;
}

.category-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    transition: 0.3s;
}


.modern-footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 3rem 1rem 1.5rem;
    text-align: center;
    margin-top: auto;
}

.footer-bottom {
    margin-top: -1rem;
    padding-top: 2rem;
    border-top: -114px ;
    font-size: 0.8rem;
}

.footer-bottom a {
    color: var(--accent-color);
    text-decoration: none;
}



/*++++++++++++PORTFOLIO+++++++++++++++++++++*/
.portfolio-container {
    flex: 1; /* Force le contenu à occuper l'espace disponible et pousser le footer */
    
    padding-top: 120px; 
    
    /* Padding-bottom : empêche le contenu de toucher le footer */
    padding-bottom: 100px; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin:  auto;
}

/* 3. La Grille */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    margin-top: 50px; /* Espace après le titre H2 */
}


